* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section .container {
  background-color: rgb(151, 160, 168);
}

nav {
  background-color: rgb(156, 172, 189);
  font-size: 15px;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  background-color: rgb(221, 217, 219);
  box-shadow: 0px 1px 2px 1px;
  padding: 6px;
  border-radius: 8px;
}

nav a:link {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

div {
  display: block;
}

div > div {
  display: inline-flex;
  flex-direction: row;
}

.adhd-clip {
  border-width: 5px;
  border-color: rgb(83, 88, 94);
  box-shadow: 0px 1px 1px 1px;
}

.list-box {
  background-color: rgb(147, 168, 189);
  margin: 10 10;
  padding: 10 15;
  box-shadow: 0px 1px 1px 1px;
}

.none-dec {
  list-style-type: none;
}
