@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat+Subrayada&family=Montserrat:wght@200&display=swap');

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  min-height: 100vh;
  position: relative;
}

/* decoration stylings */
hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
}

/* header section includes navbar*/
nav {
  background-color: rgb(156, 172, 189);
  font-size: 15px;
  font-variant: small-caps;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#logo-adhd {
  font-size: 35px;
  font-family: 'Montserrat Subrayada', sans-serif;
  margin: -10px 4px;
  display: flex;
  flex-flow: row-reverse wrap;
  align-self: stretch;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  margin: 10px;
  padding: 5px;
  width: 80px;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav a:hover {
  background-color: #ced4da;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

nav a:link {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* intro - section*/

.intro {
  background: url('https://images.pexels.com/photos/983830/pexels-photo-983830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-heading h1 {
  font-size: 60px;
  padding: 10px;
}

/* adhd - section */

.intro-adhd {
  margin-top: 96px;
}

.letter-a {
  background-color: rgb(98, 243, 98);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px 10px 5px 10px;
}
.letter-d {
  background-color: rgb(109, 185, 233);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px 10px 5px 10px;
}
.letter-h {
  background-color: rgb(238, 238, 121);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px 10px 5px 10px;
}
.letter-d-2 {
  background-color: rgb(255, 164, 178);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px 10px 5px 10px;
}

/* npf - section */

.none-dec {
  list-style-type: none;
}

.list-box {
  background-color: rgba(147, 168, 189, 0.5);
  width: 100%;
  margin: 10 10;
  padding: 10 15;
  box-shadow: 0px 1px 1px 1px;
}

/* film-clip-Section: Youtube - ADHD */
.adhd-clip {
  border-width: 5px;
  border-color: rgb(83, 88, 94);
  box-shadow: 0px 1px 1px 1px;
  width: 100%;
}

/* Support -section Link to another ADHD-side */
/* #support {
} */
.none-d-style {
  text-decoration: none;
  text-align: center;
}

/* Footer section */
footer {
  padding: 1%;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .nav-link {
    width: 100%;
    float: flex-end;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  ...;
}*/

/* `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  ...;
}*/
