@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat+Subrayada&family=Montserrat:wght@200&display=swap');

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  min-height: 100vh;
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-content: center;
}

.container {
  margin-top: 90px;
  word-spacing: 0.1ch;
}

.li-style {
  width: 85%;
  line-height: 25px;
  margin-top: 15px;
}

/* decoration stylings */
hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
  margin: 5px 0;
}

/* HEADER - section includes navbar*/
nav {
  background-color: rgb(156, 172, 189);
  font-size: 15px;
  font-variant: small-caps;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#logo-adhd {
  font-size: 35px;
  font-family: 'Montserrat Subrayada', sans-serif;
  margin: -10px 4px;
  display: flex;
  flex-flow: row-reverse wrap;
  align-self: stretch;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  margin: 10px;
  padding: 5px;
  width: 80px;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav a:hover {
  background-color: #ced4da;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

nav a:link {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* INTRO - section */

#intro {
  background: url('https://images.pexels.com/photos/983830/pexels-photo-983830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.intro-adhd {
  margin-top: 96px;
}

.intro-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-heading h1 {
  font-size: 60px;
  font-weight: normal;
  padding: 10px;
}

#info-box {
  font-size: 58%;
  font-family: Montserrat, sans-serif;
  text-transform: full-width;
  font-weight: bolder;

  letter-spacing: 2px;

  width: 350px;
  height: 150px;

  padding: 10px 18px 10px 18px;
  border-radius: 10px 10px;
  box-shadow: 3px 2px 2px 1px rgb(68, 167, 93);

  background-color: rgba(122, 243, 142, 0.7);

  bottom: -60px;
  right: 30px;
  top: 275px;

  position: absolute;
}

.info-box p {
  white-space: pre-line;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* ADHD - section */

#adhd {
  top: 150px;
}

.letter-a,
.letter-d,
.letter-h,
.letter-d-2 {
  padding-top: 6px;
  font-size: 20px;
}

.letter-a {
  background-color: rgb(98, 243, 98);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px 10px 5px 10px;
}
.letter-d {
  background-color: rgb(109, 185, 233);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px 10px 5px 10px;
}
.letter-h {
  background-color: rgb(238, 238, 121);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px 10px 5px 10px;
}
.letter-d-2 {
  background-color: rgb(255, 164, 178);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px 10px 5px 10px;
}

/* npf - section */

.none-dec {
  list-style-type: none;
}

.list-box {
  background-color: rgba(230, 239, 248, 0.336);
  width: 90%;
  margin: 20 10;
  padding: 10 15;
  box-shadow: 0px 1px 1px 1px;
}

/* film-clip-Section: Youtube - ADHD */
.adhd-clip {
  border-width: 5px;
  border-color: rgb(83, 88, 94);
  box-shadow: 0px 1px 1px 1px;
  width: 100%;
}

/* Support -section Link to another ADHD-side */
/* #support {
} */
.none-d-style {
  text-decoration: none;
  text-align: center;
  color: #3a3a3a;
}

/* Footer section */
footer {
  padding: 1%;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .nav-link {
    width: 100%;
    float: flex-end;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
  }

  .container {
    margin-top: 80px;
    word-spacing: 0.1ch;
  }

  .adhd-1 {
    margin-top: 95px;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .nav-link {
    width: 100%;
    float: flex-end;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
  }

  .container {
    margin-top: 70px;
    word-spacing: 0.1ch;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 1199.98px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .nav-link {
    width: 100%;
    float: flex-end;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
  }

  .container {
    margin-top: 70px;
    word-spacing: 0.1ch;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  ...;
}*/

/* `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  ...;
}*/
